body {
  background-color: #FFFAF0;
}
p {
  font-size: 20pt;
  font-family: "Georgia";
}
img {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
}
.zagolov {
  text-align:center;
}
.kartinki1 {
   display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    padding-top: 50px; 
}
