body {
  background-color: #FFFAF0;
}
p {
  font-size: 20pt;
  font-family: "Georgia";
}
.zagolov {
  text-align:center;
}
img {
  width: 150px;
  height: 150px; 
}
.kartinki1 {
   display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    padding-top: 50px; 
}
